cython==3.0.9
numpy==1.21.6; python_version < '3.10'  # support numpy.typing
oldest-supported-numpy; python_version >= '3.10'
setuptools==71.1.0  # temporarily fix before switching off setuptools_sdo

reno==4.1.0  # for changelog
