# Install requirements
numpy==1.21.6; python_version < '3.10'  # support numpy.typing
numpy==2.1.0; python_version >= '3.10'

# Build requirements
cython~=3.0.0
meson-python~=0.17.0
meson~=1.6.0
ninja~=1.11.0

# Other requirements, see also tests/requirements.txt and docs/requirements.txt
reno==4.1.0  # for changelog, keep synced with docs/requirements.txt
